<!DOCTYPE html>
<html lang="zh">

<head>
	<base href="{{baseUrl | safe}}" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>用户登录</title>
	<script>
		window.baseUrl = `{{baseUrl |safe}}`;
	</script>
	<link rel="shortcut icon" href="{{baseUrl | safe}}favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{baseUrl | safe}}public/plug/layui/css/layui.css">
	<link rel="stylesheet" href="{{baseUrl | safe}}public/css/login.css">
	<link href="{{baseUrl | safe}}public/css/global.css" rel="stylesheet" />
	<script type="text/javascript" src="{{baseUrl | safe}}public/plug/layui/layui.js"></script>
</head>

<body>

	<div class="login-wrapper layui-anim layui-anim-scale">
		<form class="layui-form">
			<!--        <h2>FS 文件管理用户登录</h2>-->
			<h2>用户登录</h2>
			<div class="layui-form-item layui-input-icon-group">
				<i class="layui-icon layui-icon-username"></i>
				<input class="layui-input" id="email" name="nickName" placeholder="用户名" autocomplete="off"
					lay-verType="tips" lay-verify="required" required />
			</div>
			<div class="layui-form-item layui-input-icon-group">
				<i class="layui-icon layui-icon-password"></i>
				<input class="layui-input" name="password" placeholder="请输入登录密码" type="password" lay-verType="tips"
					lay-verify="required" required />
			</div>
			<div class="layui-form-item">
				<input type="checkbox" name="remember" title="记住我" lay-skin="primary">
				<a href="{{baseUrl | safe}}register" class="layui-link pull-right">注册账号</a>
			</div>
			<div class="layui-form-item">
				<button class="layui-btn layui-btn-fluid layui-btn-normal" lay-filter="loginSubmit" lay-submit>登录</button>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="{{baseUrl | safe}}public/js/clipboard.min.js"></script>
	<script type="text/javascript" src="{{baseUrl | safe}}public/js/login.js"></script>
</body>
<style>
	body:before {
		content: "";
		background-color: rgba(0, 0, 0, .2);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
</style>

</html>